@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #ffb100;
}

section {
  width: 100vw;
}

#base {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10%;
}

#etape1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#etape1 h1 {
  font-family: 'Fredoka One';
  font-size: 2.5rem;
  text-transform: uppercase;
}

#etape1 h1 strong {
  text-transform: lowercase;
  font-family: 'Righteous';
}

#etape1 p {
  font-family: 'Righteous';
  text-align: justify;
  padding: 5%;
}

.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.presentation h1 {
  font-family: 'Fredoka One';
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 25% 0%;
}

.presentation h1 strong {
  text-transform: lowercase;
  font-family: 'Righteous';
}

.presentation .nom {
  border: solid #030a0a 2px;
  border-radius: 3%;
  margin: 10%;
  padding: 5%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.presentation .nom h2 {
  font-family: 'Righteous';
  text-transform: uppercase;
  padding: 10% 0%;
}

.presentation .nom p {
  text-align: justify;
  font-family: 'Righteous';
}

.presentation .nom .img_contain {
  height: 200px;
  width: 150px;
}

.presentation .nom .img_contain img {
  height: 100%;
  width: 100%;
  border-radius: 5%;
}

#etape4 h1 {
  text-align: center;
}

#etape5 h1 {
  text-align: center;
}

#etape6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 120vh;
}

#etape6 h1 {
  font-family: 'Fredoka One';
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 5% 0%;
}

#etape6 h1 strong {
  text-transform: lowercase;
  font-family: 'Righteous';
}

#etape6 p {
  text-align: justify;
  padding: 5%;
  font-family: 'Righteous';
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 50%;
}

.chevron {
  position: absolute;
  width: 2.1rem;
  height: 0.48rem;
  opacity: 0;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  -webkit-animation: move-chevron 3s ease-out infinite;
          animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  -webkit-animation: move-chevron 3s ease-out 1s infinite;
          animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  -webkit-animation: move-chevron 3s ease-out 2s infinite;
          animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: black;
}

.chevron:before {
  left: 0;
  -webkit-transform: skewY(30deg);
          transform: skewY(30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  -webkit-transform: skewY(-30deg);
          transform: skewY(-30deg);
}

@-webkit-keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    -webkit-transform: translateY(2.28rem);
            transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    -webkit-transform: translateY(3.12rem);
            transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(4.8rem) scale(0.5);
            transform: translateY(4.8rem) scale(0.5);
  }
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    -webkit-transform: translateY(2.28rem);
            transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    -webkit-transform: translateY(3.12rem);
            transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(4.8rem) scale(0.5);
            transform: translateY(4.8rem) scale(0.5);
  }
}

.social-container {
  width: 400px;
  text-align: center;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}

.social-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-icons li {
  display: inline-block;
  margin: 0% 7%;
  position: relative;
  font-size: 1.2em;
}

.social-icons i {
  color: #fff;
  position: absolute;
  top: 21px;
  left: 21px;
  -webkit-transition: all 265ms ease-out;
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
}

.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #00B5F5, #002A8F);
  -webkit-transition: all 265ms ease-out;
  transition: all 265ms ease-out;
}

.social-icons a:hover:before {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 265ms ease-in;
  transition: all 265ms ease-in;
}

.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #00B5F5;
  background: -webkit-linear-gradient(45deg, #00B5F5, #002A8F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 265ms ease-in;
  transition: all 265ms ease-in;
}

#etape7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#etape7 h1 {
  font-family: 'Fredoka One';
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 5% 0%;
}

@media screen and (min-width: 1420px) {
  body {
    background-color: #ffb100;
  }
  .presentation h1 {
    color: #030a0a;
  }
  p {
    color: #030a0a;
  }
  h2 {
    color: #030a0a;
  }
  #base {
    height: 110vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
    margin-bottom: 10%;
  }
  #base .span_item {
    margin: 0;
    display: inline-block;
    text-transform: uppercase;
    font-size: 23rem !important;
    font-family: 'Righteous';
    color: #49a078;
  }
  #base .span_item:nth-child(2n+1) {
    color: #030a0a;
  }
  #base .container {
    display: none;
  }
  #etape1 h1 {
    text-align: center;
    font-size: 4rem;
  }
  #etape1 p {
    padding: 0% 25%;
    text-align: justify;
    font-size: 1.5rem;
  }
  .presentation h1 {
    text-align: center;
    font-size: 6rem;
  }
  .nom {
    width: 80%;
    height: 80%;
    margin: 0;
  }
  #etape2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1/4;
        grid-template-columns: 1/4;
    -ms-grid-rows: 1/3;
        grid-template-rows: 1/3;
  }
  #etape2 h1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  #etape2 #manu {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  #etape2 #elisa {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  #etape2 #nico {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  #etape3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1/4;
        grid-template-columns: 1/4;
    -ms-grid-rows: 1/3;
        grid-template-rows: 1/3;
  }
  #etape3 h1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  #etape3 #dodo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  #etape3 #mael {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  #etape3 #anto {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  #etape4 {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1/3;
        grid-template-rows: 1/3;
  }
  #etape4 h1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  #etape4 #conteneur_com {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #etape5 {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template: 1fr 1fr / 1fr;
  }
  #etape5 h1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  #etape5 #conteneur_bere {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #etape5 #bere {
    width: 35%;
    height: 60%;
  }
  #etape6 {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1fr 1fr / 1fr 1fr;
  }
  #etape6 #conteneur_h1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #etape6 #conteneur_h1 h1 {
    font-size: 4rem;
  }
  #etape6 #mega_conteneur {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #etape6 #mega_conteneur #conteneur_img {
    width: 50%;
    height: 100%;
  }
  #etape6 #mega_conteneur #conteneur_img img {
    height: 100%;
    width: 100%;
  }
  #etape6 #conteneur_p {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  #etape6 #conteneur_p p {
    text-align: justify;
    padding: 0% 20%;
  }
  #etape7 {
    height: 120vh;
  }
}

@media screen and (max-width: 1420px) {
  .span_conteneur {
    margin-top: 30%;
  }
  .span_conteneur .span_item {
    font-size: 4rem;
    text-transform: uppercase;
    font-family: 'Righteous';
  }
}
/*# sourceMappingURL=main.css.map */